.body{
    font-family: 'Roboto Slab', serif;  
    color: white; 
    
}

.titulo{
    text-align: center;
    
}

.caixa{
    display: flex;
}

.pesquisa{
    text-align: center;
    padding-bottom: 15px;
    border-radius: 30px;
}

.card{
    float: left;
    border: 0.2px solid white;
    border-radius: 5px;
    padding: 10px;
    flex:50%;
}

.lista{
    float: left;
    border: 0.2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    flex:50%;
    
}

.botao{
    width:165px;
    height:28px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    padding-bottom: 2px;
    background:black;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}